@using TSTuring2015.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31567866-1']);
        _gaq.push(['_setDomainName', 'thinkingsolutions.com.au']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <a class="left" href="http://www.thinkingsolutions.com.au"><img src="@Url.Content("~/Content/Images/TSLogoSmall.jpg")" alt="Home" /></a>
                <p class="left site-title">
                    @Html.ActionLink(
                        "Change Application", "Index", "Splash")
                </p>
            </div>
        </div>
        <div class="float-right">
            <section id="login">
                @Html.Partial("_LoginPartial")
            </section>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Demo", "Index", "Demo")</li>
                    <li>@Html.ActionLink("Samples", "Index", "Samples")</li>
                    <li>@Html.ActionLink("Help", "Help", "Home")</li>
                    <li>@Html.ActionLink("Releases", "Releases", "Home")</li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            <div id="console">
                @RenderBody()
            </div>
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>
                    Project Turing: Copyright &copy; Thinking Solutions Pty Ltd @DateTime.Now.Year. All Rights Reserved. Online
                    Version @Const.GetEnumName(PatomValues.Version)
                </p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
