@using PatTuring2016.MVC5Web.Models
@model System.Collections.Generic.List<PatTuring2016.Common.ScreenModels.PartDisplays.AbstractPartDisplay>
<div id="gridScreen">
    <table>
        <tr>
            <th>More
            </th>
            <th>Match Type
            </th>
            <th>Words Matched
            </th>
            <th>More Sense
            </th>
            <th>Sense Count
            </th>
            <th>First Sense Definition
            </th>
        </tr>
        @for (int i = 0; i < @Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.Partial("Ajax/MoreGridDetail", new ModelDetails("Details", @Model[i].ListNumber, @Model[i].Part))
                </td>
                <td>
                    @Model[i].Title
                </td>
                <td>
                    @Model[i].Matches
                </td>
                <td>
                    @Html.Partial("Ajax/MoreGridSense", new ModelDetails("More Sense", @Model[i].ListNumber, @Model[i].Part))
                </td>
                <td>
                    @Model[i].Count
                </td>
                <td>
                    @Model[i].PhraseName
                </td>
            </tr>
        }
    </table>
</div>
