@{
    Layout = "~/Views/Shared/_ConsoleLayout.cshtml";
}
@using PatTuring2016.MVC5Web.Models;
@model  PatTuring2016.Common.ScreenModels.FullScreenModels.SenseScreenModel

<div id="sense">
    <span class="left middle">
        <span class="MenuLabel middle">Definition</span>
        <textarea class="basestyle sensetop middle" readonly="readonly" title="Sense Details">@Model.SenseDetails</textarea>
    </span>

    <span class="senseMiddle left">
        <span class="left gap">
            <label class="MenuLabel small">Sense Label</label>
            <textarea class="basestyle" readonly="readonly" title="Sense Label">@Model.SenseLabel</textarea>
        </span>
        <span class="left gap">
            <label class="MenuLabel">Synonyms</label>
            <textarea class="basestyle midsense" readonly="readonly" title="Synonyms">@Model.Synonyms</textarea>
        </span>
        <span class="left gap">
            <label class="MenuLabel">Inflections</label>
            <textarea class="basestyle midsense" readonly="readonly" title="Inflections">@Model.Inflections</textarea>
        </span>
    </span>

    <div class="senseBottom">
        <h4 class="MenuLabel">Sense Links</h4>
        <div class="setamargin">
            <span class="fixsensewidth">senses that this 'is a kind of'</span><span>@ScriptLink("Hypernyms", 0)</span><span>@Model.HypernymCount
                hypernyms</span>

            <span class="fixsensewidth">senses that are 'a kind of this'</span><span>@ScriptLink("Hyponyms", 1)</span><span>@Model.HyponymCount
                hyponyms</span>
        </div>
        <div class="setamargin">
            <span class="fixsensewidth">senses that this is 'a part of'</span><span>@ScriptLink("Meronyms", 2)</span><span>@Model.MeronymCount
                meronyms</span>

            <span class="fixsensewidth">senses that are 'parts of this'</span><span>@ScriptLink("Holonyms", 3)</span><span>@Model.HolonymCount
                holonyms</span>
        </div>
        @if (@Model.MembMeroCount > 0)
        {
            <div class="setamargin">
                <span class="fixsensewidth">member made from</span><span>@ScriptLink("Member Meronyms", 4)</span><span>@Model.MembMeroCount
                    member meronyms</span>
            </div>            
        }
        @if (@Model.InstHyperCount > 0)
        {
            <div class="setamargin">
                <span class="fixsensewidth">instance of</span><span>@ScriptLink("Instance Hypernyms", 5)</span>
                <span>@Model.InstHyperCount
                    instance hypernym</span>
            </div>
        }
        @if (@Model.InstHypoCount > 0)
        {
            <div class="setamargin">
                <span class="fixsensewidth">instance of </span><span>@ScriptLink("Instance Hyponyms", 6)</span>
                <span>@Model.InstHypoCount
                    instance hyponym</span>
            </div>
        }
        @if (@Model.MembHoloCount > 0)
        {
            <div class="setamargin">
                <span class="fixsensewidth">member part of</span><span>@ScriptLink("Member Holonyms", 7)</span>
                <span>@Model.MembHoloCount
                    member holonyms</span>
            </div>
        }
        @if (@Model.SubstMeroCount > 0)
        {
            <div class="setamargin">
                <span class="fixsensewidth">made from substance</span><span>@ScriptLink("Substance Meronyms", 8)</span><span>@Model.SubstMeroCount
                    substance meronyms</span>
            </div>
        }
        @if (@Model.SubstHoloCount > 0)
        {
            <div class="setamargin">
                <span class="fixsensewidth">made of'</span><span>
                    @ScriptLink("Substance Holonyms", 9)</span><span>@Model.SubstHoloCount substance holonyms</span>
            </div>
        }
        @if (@Model.CausesCount > 0)
        {
            <div class="setamargin">
                <span class="fixsensewidth">causes</span><span>
                    @ScriptLink("Causes", 10)</span> <span>@Model.CausesCount causes</span>
            </div>
        }
        @if (@Model.CausedByCount > 0)
        {
            <div class="setamargin">
                <span class="fixsensewidth">caused by</span><span>@ScriptLink("Caused By", 11)</span>
                <span>@Model.CausedByCount
                    caused by</span>
            </div>
        }
        @if (@Model.EntailsCount > 0)
        {
            <div class="setamargin">
                <span class="fixsensewidth">entails</span><span>@ScriptLink("Entails", 12)</span>
                <span>@Model.EntailsCount
                    entails</span>
            </div>
        }
        @if (@Model.EntailedByCount > 0)
        {
            <div class="setamargin">
                <span>entailed by</span>@ScriptLink("Entailed By", 13)<span>@Model.CausedByCount
                    entailed by</span>
            </div>
        }
    </div>
</div>
@helper ScriptLink(string linkName, int type)
{
    <span class="button fixwidth">
        @Html.Partial("Ajax/MoreSense", new ModelDetails(linkName, type, 0))
    </span>
}