@using System
@using PatTuring2016.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Thinking Solutions</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper redbg">
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
            <h3 class="indent">Please select an option below to continue:</h3>
        </div>
    </header>
    <div id="body" class="redbg">
        <section class="content-wrapper clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="indent">
                    &copy; @DateTime.Now.Year - Pat Inc. All Rights Reserved. Online
                    Version @Const.GetEnumName(PatomValues.Version)
                </p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
