@if (IsAjax)
{
    Layout = null;
}
@using TSTuring2015.Common
@model TSTuring2015.ServiceProxy.ViewModels.DemoViewModel
@{
    ViewBag.Title = "Project Turing Demonstration Home";
}
<div id="demo">
    @using (Html.BeginForm())
    {
        <h2>Enter text to match</h2>

        <div class="slidecontainer">

            <fieldset class="slide">
                <legend>Text entry (enter full sentences or clauses below)</legend>
                @Html.EditorFor(model => model.Match.TextIn)

            </fieldset>

        </div>
        <div class="spacetop slide">
            <input type="submit" value="Match!" />
        </div>
        <div class="legendsettings">
            <fieldset>
                <legend>Match Settings</legend>
                <div>
                    @Html.DropDownListFor(x => x.Settings.TargetLanguage, new SelectList(Enum.GetValues(typeof(TargetLanguages))))
                </div>
                <div class="legendsettings">
                    @Html.HiddenFor(model => model.SampleSettings.SampleFiles, new SelectList(Enum.GetValues(typeof(SampleFiles))))
                </div>
                <div>
                    @Html.RadioButtonFor(e => e.Settings.SimpleView, true, new { id = "simpleview-true" })
                    @Html.Label("simpleview-true", "Simple")
                    @Html.RadioButtonFor(e => e.Settings.SimpleView, false, new { id = "simpleview-false" })
                    @Html.Label("simpleview-false", "Full")
                </div>
                <div>
                    @Html.RadioButtonFor(e => e.Settings.ShowSentences, true, new { id = "sentence-true" })
                    @Html.Label("sentence-true", "Sentence")
                    @Html.RadioButtonFor(e => e.Settings.ShowSentences, false, new { id = "sentence-false" })
                    @Html.Label("sentence-false", "Clause")
                </div>
            </fieldset>
        </div>

    }
    @if (@ViewBag.ErrorMessage != "")
    {
        <h3 id="Error">@ViewBag.ErrorMessage</h3>
    }
</div>
