@using TSTuring2015.MVCWeb.Models
@model  TSTuring2015.ScreenModels.FullScreenModels.WordScreenModel

<h1 class="wordpadabove yellow">( @Model.WordDetails )</h1>

<div class="right">
    <span class="right gap">
        <label class="MenuLabel white">Attributes</label>
        <textarea class="basestyle wordsmall inline" readonly="readonly" title="Attributes">@Model.Attributes</textarea></span>

    <span class="right gap">
        <label class="MenuLabel white">Grammar Uses</label>
        <textarea class="basestyle wordsmall inline" readonly="readonly" title="Grammar Used">@Model.Grammars</textarea>
    </span>
</div>

<h4 class="MenuLabel white">Definitions</h4>
    <textarea class="wordstyle wordsense inline middle" readonly="readonly" title="Senses">@Model.Senses</textarea>
    <span class="button inline middle">
        @Html.Partial("Ajax/MoreSense", new ModelDetails("More Sense", 0, 0))
    </span>


<h4 class="MenuLabel white">Word Forms</h4>
<div>
    <textarea class="wordstyle wordTop" readonly="readonly" title="Word Details">@Model.WordForms</textarea>
</div>




