@using TSTuring2015.Common
@model TSTuring2015.MVCWeb.Models.SampleMatchViewModel
@{
    ViewBag.Title = "Samples for Project Turing";
}
<div class="leftgutter">
    <p>
        The examples can be directly matched with the "details" button or  
        first edited with the "edit" button.
    </p>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>File Group Selection</legend>
            @Html.DropDownListFor(model => model.SampleSettings.SampleFiles, new SelectList(Enum.GetValues(typeof(SampleFiles))))
            <button type="submit">Update</button>
        </fieldset>
    }
    <h4>
        @Model.SampleMatchDisplay.CurrentFile Samples</h4>

    @foreach (string file in @Model.SampleMatchDisplay.FileChoices)
    {
        if (@Model.SampleMatchDisplay.CurrentFile == file)
        {
        <p><em>File contents: </em>@Model.SampleMatchDisplay.Description</p>           
        }
    }
    @for (var i = 0; i < @Model.SampleMatchDisplay.FileChoices.Length; i++)
    {
        if (@Model.SampleMatchDisplay.CurrentFile == @Model.SampleMatchDisplay.FileChoices[i])
        {
        <span class="activefile button smallgap">@Html.ActionLink(@Model.SampleMatchDisplay.FileChoices[i], "SelectFile", new { Choice = i })
        </span>           
        }
        else
        {
        <span class="button smallgap">@Html.ActionLink(@Model.SampleMatchDisplay.FileChoices[i], "SelectFile", new { Choice = i })
        </span>           
        }
    }
    <p class="red">
        Please select one of the choices above to change the sample list contents.
    </p>
    <p>
        Your latest selection is retained for the duration of your session. Alternate files can be selected by 
        pressing one of the blocks just below this text. For example, "Tenses" provides an inventory of some 
        verb tenses for review.
    </p>

</div>
<div id="summary">
    <h2>Match options</h2>

    <p>
        Please select one of the samples below and Project Turing will display its patterns.
    </p>
    <table>
        <tr>
            <th>Selection
            </th>
            <th>Sample Text
            </th>
            <th>Purpose of Sample
            </th>
            <th>Edit
            </th>
        </tr>
        @for (var i = 0; i < @Model.SampleMatchDisplay.MatchList.Count; i++)
        {
            <tr>
                <td>
                    @Html.ActionLink("Details", "Select", new { Selection = i })
                </td>
                <td>
                    @Model.SampleMatchDisplay.MatchList[i].Match.TextIn
                </td>
                <td>
                    @Model.SampleMatchDisplay.MatchList[i].Comment
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Selection = i })
                </td>
            </tr>
        }
    </table>
</div>
